<!-- main.hbs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car store</title>
    <script src="script.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body >
    <footer>
        <a href="../customers.hbs">Customers</a>
        <a href="../employees.hbs">Employees</a>
        <a href="../vehicles.hbs">Vehicles</a>
        <a href="../sales.hbs">Sales</a>
        <a href="../services.hbs">Services</a>
        <a href="../index.hbs">Main Page</a>

    </footer>

    {{{body}}}

</body>
</html>